@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #161A31 3.4%, #06091F 100%);
}